<!DOCTYPE HTML>
<html lang="en">

<head>
	<%- include('partials/meta',{pageTitle:'Contacts'})%>
    <%- include('partials/styles') %>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<%- include('partials/navbar') %>

			<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h1 class="zrnic-font h1">Contacts</h1>
					</header>


					<!-- Content -->

					<section id="content">
						<div class="d-flex align-items-center justify-content-center mb-5 zrnic-font lead">
							<button id="exportButton" class="button primary" type="submit"
							>Download Contacts</button>
						</div>

						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Event</th>
										<th>Email</th>
										<th>Name</th>
										<th>Phone Number</th>
										<th>Role</th>
									</tr>
								</thead>

								<tbody class="fs-4">
									<% contacts.forEach(contact=> { %>
										<% Object.entries(contact.eventData).forEach(([email, data])=> { %>
											<tr>
												<td>

													<a name="eventPage" class="eventLink"
														data-event-name="<%= contact.eventName.replace(/ /g, '-') %>"
														href="/review/<%= encodeURIComponent(contact.eventName.trim()).replace(/%20/g, '-') %>">
														<%= contact.eventName %>
													</a>


												</td>
												<td>
													<%= email.replace(/_/g, '.' ) %>
												</td>
												<td>
													<%= data[0] %>
												</td>
												<td>
													<%= data[1] %>
												</td>
												<td>
													<%= data[2] %>
												</td>
											</tr>
											<% }); %>
												<% }); %>
								</tbody>
							</table>
						</div>

					</section>

				</div>
			</div>

			<%- include('partials/footer') %>

	</div>

	<%- include('partials/scripts') %>
		<script src="/assets/js/profilePageHandler.js"></script>
		<script src="/assets/js/handleContacts.js"></script>

</body>

</html>