<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta',{pageTitle:'Survey'})%> <%- include('partials/styles') %>
    <link rel="stylesheet" href="/assets/css/survey.css" />
  </head>

  <body class="feedback-page">
    <div class="page-wrapper">
      <div id="main" class="wrapper style1">
        <%- include('partials/banner') %>

        <div id="container">
          <!-- Square question container -->
          <section id="question-container">
            <h3 id="questionElement" data-variable="<%= customQ %>"><%= customQ %></h3>
          </section>

          <section id="feedbackSection">
            <!-- Square textbox -->
            <textarea name="message" id="message" placeholder="Enter your message"></textarea>
          </section>
        </div>

        <section id="survey-ending">
          <button type="button" class="button primary" id="feedbackButton">Next</button>
        </section>

        <%- include('forms/contactForm') %>

        <section id="thankYou-section">
          <h3 id="thankYouMessage">Thank you for your feedback!</h3>
          <% if(eventName=="Test-Survey" ) { %>
          <button class="button primary backToProfileButton" id="profileButton">
            Go back to profile page
          </button>

          <% }else{ %>
          <div class="contactButton-container2" id="moveHigher">
            <button
              type="button"
              class="button primary"
              id="btnDownloadFile"
            >
              Download Presentation Now!!!
            </button>
          </div>
          <% } %>
        </section>
      </div>
    </div>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
    <script src="/feedback.js"></script>
  </body>
</html>
