<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta',{pageTitle:'Survey'})%> <%- include('partials/styles') %>
    <link rel="stylesheet" href="/assets/css/survey.css" />
  </head>

<body class="feedback-page">
    <div id="main" class="wrapper">
      <%- include('partials/banner') %>

      <div class="container">
        <div class="row justify-content-center">
            <section id="question-container" class="mt-5">
              <label for="message" class="lead mx-auto" id="questionElement" data-variable="<%= customQ %>"><%= customQ %></label>
            </section>
            <section id="feedbackSection" class="">
              <textarea name="message" id="message" class="form-control mx-auto" rows="3" placeholder="Enter your message"></textarea>
            </section>
        </div>

        <section id="survey-ending">
          <button type="button" class="button primary zrnic-font lead" id="feedbackButton">Next</button>
        </section>

        <%- include('forms/contactForm') %>

        <section id="thankYou-section" class="text-center mx-auto lead zrnic-font">
          <h3 id="thankYouMessage">Thank you for your feedback!</h3>
          <% if(eventName=="Test-Survey" ) { %>
          <button class="button primary backToProfileButton" id="profileButton">
            Go back to profile page
          </button>

          <% }else{ %>
          <div class="contactButton-container2" id="moveHigher">
            <button type="button" class="button primary mt-4" id="btnDownloadFile">
              Download Presentation Now!!!
            </button>
          </div>
          <% } %>
        </section>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/feedback.js"></script>
  </body>
</html>
