<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta',{pageTitle:'Login'})%> <%- include('partials/styles') %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <%- include('partials/navbar') %>

      <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container text-center">
          <header class="major zrnic-font h4">
            <h2>Login</h2>
          </header>
          <img src="assets/css/images/R8MyTalkLogo.svg" class="w-50 mb-5" alt="R8MyTalk Logo"/>

          <section id="content">
            <div class="jumbotron text-center zrnic-font h4">
              <% if (error && error.customData) { %>
              <h2><%= error.customData %></h2>
              <% } else { %> <% } %>
              <!-- Login form -->
              <%- include('forms/loginForm') %>
              <a href="/register">Don't Have Account?</a>
            </div>
          </section>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>
