<!DOCTYPE html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Login | R8MyTalk</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%- include('partials/styles') %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <%- include('partials/navbar') %>

      <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container">
          <header class="major">
            <h2>Login</h2>
          </header>
          <img src="assets/css/images/loginlogo2.png" class="center" alt="" />

          <section id="content">
            <div class="jumbotron text-center text-primary">
              <% if (error && error.customData) { %>
              <h2><%= error.customData %></h2>
              <% } else { %> <% } %>
              <!-- Login form -->
              <%- include('forms/loginForm') %>
              <li><a href="/register">Don't Have Account?</a></li>
            </div>
          </section>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>
