<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html class="black-placeholder">
<!--
    TEST COMMENT 4!
-->

<head>
	<title>Profile Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


	<link rel="stylesheet" href="assets/css/main.css" />

	<style>
		.addMargin {
			margin-top: 1em;
		}
	</style>

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<%- include('partials/navbar') %>

			<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="table-container">
					<header class="major">
						<h2>Hi,
							<!--%= docSnap.data().fireFirstName %-->
							<%= user.displayName %>
						</h2>

					</header>

					<!-- Content -->
					<section id="content">



						<!-- This will load the eventInfo modal -->
						<div class="d-flex align-items-center justify-content-center mb-1">
							<button type="submit" class="button primary moveButtonRight" data-bs-toggle="modal"
								data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Create Event</button>
							<form action="/goToTestSurveyButton" method="post">
								<!-- other form elements if any -->
								<button name="goToTestSurveyButton" class="button primary " id="testSurvey"
									data-bs-toggle="modal" data-bs-target="#survey" data-bs-whatever="@survey"
									style="margin-top: 35px; padding-left: 40px; padding-right: 40px;">Test
									Survey</button>
							</form>


						</div>
				</div>

				<br><br>

				<!-- Large screen modal -->

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header addMargin">
								<h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form class="text-primary" action="/createEvent" method="POST">

									<div class="modal-body text-center">
										<p style="color: #272833;" class="display-6 mb-3">Create a New Engagement</p>
										<p style="color: #272833;" class="fs-5">This form allows you to create a new
											engagement, and tasks will also show up.</p>
									</div>

									<div class="form-group text-dark">

										<label for="title" class="text-dark mb-0 fs-5 "> <span
												class="badge bg-warning">1.</span> What's Your Talk Title?</label><br>
										<input type="text" id="eventName" name="eventName" placeholder="Talk Title"
											required class="text-dark border border-dark "><br><br>


										<label for="title" class="text-dark mb-0 fs-5"> <span
												class="badge bg-warning">2.</span> Add a question unique to your
											event</label><br>
										<input type="text" id="eventCustomQuestion" name="eventCustomQuestion"
											placeholder="Custom Question" required
											class="text-dark border border-dark "><br><br>

										<label for="organizer" class="text-dark  mb-0 fs-5"> <span
												class="badge bg-warning">3.</span> Who's the event organizer or
											organization?</label><br>
										<input type="text" id="organizer" name="organizer"
											placeholder="Enter organizer or company" required
											class="text-dark border border-dark"><br><br>

										<label for="talkDate" class="text-dark  mb-0 fs-5"> <span
												class="badge bg-warning">4.</span> When's your talk?</label><br>
										<input type="date" id="talkDate" name="talkDate" required
											class="text-dark border border-dark"><br><br>

										<label class="text-dark  mb-0 fs-5"> <span class="badge bg-warning">5.</span> Is
											your talk in person or virtual?</label><br>

										<input type="radio" id="inPerson" name="talkType" value="In Person" required>
										<label for="inPerson" class="text-dark  fs-5">In-person</label>
										<br>
										<input type="radio" id="virtual" name="talkType" value="Virtual" required>
										<label for="virtual" class="text-dark mb-1 fs-5">Virtual</label>

										<br><br>

										<label for="attendees" class="text-dark  mb-0 fs-5"> <span
												class="badge bg-warning">6.</span> How many attendees were
											there?</label><br>
										<input type="number" id="attendees" name="attendees" placeholder="Audience size"
											required class="text-dark border border-dark"><br><br>

										<label for="payment" class="text-dark  mb-0 fs-5"> <span
												class="badge bg-warning">7.</span>
											How much did you get paid for this talk?</label><br>
										<input type="text" id="eventEarnings" name="eventEarnings"
											placeholder="Track earnings" required class="text-dark border border-dark"
											oninput="formatCurrency(this)"><br><br>


										<button type="submit" class="btn btn-primary bg-warning border-warning">Create
											Event</button>

										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>


								</form>

							</div>
						</div>
						<div class="modal-footer">

						</div>
					</div>
				</div>
			</div>
			<!--Sean's new modal-->
			<div class="modal fade" id="editQuestionModel" tabindex="-1" aria-labelledby="editQuestionModel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header addMargin">
							<h1 class="modal-title fs-5" id="editQuestionModel">New message</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form class="text-primary" action="/editCustomQ" method="POST">

								<div class="modal-body text-center">
									<p style="color: #272833;" class="display-6 mb-3">Edit the Unique Question</p>

								</div>

								<div class="form-group text-dark">

									<label for="title" class="text-dark mb-0 fs-5 text-center "> </span> What is your
										new unique question?</label><br>
									<input type="text" id="newCustomQ" name="newCustomQ"
										placeholder="New Unique Question" required
										class="text-dark border border-dark "><br><br>

									<div class="d-flex justify-content-center">
										<button type="submit" name="submitCustomQ"
											class="btn btn-primary bg-warning border-warning "
											style="margin-right: 1em;">Submit</button>
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
									</div>

							</form>

						</div>
					</div>
					<div class="modal-footer">

					</div>
				</div>
			</div>
	</div>

	<!--Upload File Modal-->
	<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!--div class="modal-header addMargin">
                                <h1 class="modal-title fs-5" id="uploadFileModal">New message</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div!-->
				<div class="modal-body">
					<form class="text-primary" action="/uploadFile" method="POST" enctype="multipart/form-data">
						<!-- <form class="text-primary"> -->
						<div class="modal-body text-center">
							<p style="color: #272833;" class="display-6 mb-3 mt-4">Upload a File to Share</p>
						</div>

						<div class="form-group text-dark">
							<div class="d-flex justify-content-center">
								<input type="file" id="uploadedFile" name="uploadedFile" class="align-items-center">
							</div>

							<div id="uploadedFileName"></div>
							<br>
							<br>
							<div class="d-flex justify-content-center">
								<button type="submit" style="margin-right: 1em;" name="btnSubmitFile" id="btnSubmitFile"
									class="btn btn-primary bg-warning border-warning">Submit</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
									id="btnCloseFile">Close</button>
							</div>
							<p style="color: #272833;" id="upload-result-message" class="display-6 mb-3 mt-4"></p>

							<div class="d-flex justify-content-center">
								<img src="/images/icon_material_done.svg" id="icon_done"
									style="visibility:hidden;width:50px;height:50px;" />
							</div>

						</div>
					</form>


				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>
	<h2>

		<!--a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a-->
		<div class="table-wrapper">

			<table>
				<thead class="thead-dark">
					<tr>
						<th class="fs-2 text-center">Event</th>
						<th class="fs-3 text-center">Organization</th>
						<th class="fs-3 text-center">Type</th>
						<th class="fs-3 text-center">Date</th>
						<th class="fs-3 text-center">Attendees</th>
						<th class="fs-3 text-center">Earnings</th>
						<th class="fs-3 text-center">Download QR</th>
						<th class="fs-3 text-center">Action</th>


					</tr>
				</thead>
				<tbody class="fs-4">
					<% for (let i=0; i < eventArray.length; i++) { %>
						<tr>
							<td>
								<a name="eventPage" class="eventLink"
									data-event-name="<%= eventArray[i].localEventName.replace(/ /g, '-') %>"
									href="/review/<%= encodeURIComponent(eventArray[i].localEventName.trim()).replace(/%20/g, '-') %>">
									<%= eventArray[i].localEventName %>

								</a>

							</td>

							<td class="text-center">
								<%= eventArray[i].localEventFields.organizer %>
									<!-- everything is local but we need to know ^^ reference from FireStore-->
							</td>


							<td class="text-center">
								<%= eventArray[i].localEventFields.talkType %>

							</td>

							<td class="text-center">
								<%= eventArray[i].localEventFields.talkDate %>
									<!-- everything is local but we need to know ^^ reference from FireStore-->
							</td>
							<td class="text-center">
								<%= eventArray[i].localEventFields.attendees %>
									<!-- everything is local but we need to know ^^ reference from FireStore-->
							</td>
							<td class="text-center">
								<%= eventArray[i].localEventFields.eventEarnings %>
									<!-- everything is local but we need to know ^^ reference from FireStore-->
							</td>
							<td class="text-center">
								<button class="button icon solid fa-download" name="qrButton" data-row-index="<%= i %>"
									data-event-name="<%= eventArray[i].localEventName %>"></button>
							</td>
							<td>
							<td id="dropdown-menu" class="text-center">
								<!-- Dropdown with ellipsis link as the trigger -->
								<div class="dropdown custom-dropdown text-center">
									<button class="btn btn-secondary dropdown-toggle text-center" type="button"
										name="ellipsisDropdown" data-event-name="<%= eventArray[i].localEventName %>"
										data-bs-toggle="dropdown" aria-expanded="false"></button>
									<ul class="dropdown-menu" aria-labelledby="ellipsisDropdown">

										<li><a class="dropdown-item" name="editCustomQuestion" data-bs-toggle="modal"
												data-bs-target="#editQuestionModel" data-bs-whatever="@getbootstrap"
												data-question="<%= eventArray[i].localEventFields.customQuestion %>"
												data-event-name="<%= eventArray[i].localEventName %>" href="#">Edit
												Custom Question</a></li>


										<li><a class="dropdown-item" name="btnUploadFile" data-bs-toggle="modal"
												data-bs-target="#uploadFileModal" data-bs-whatever="@getbootstrap"
												data-event-name="<%= eventArray[i].localEventName %>" href="#">Upload
												Files to Share</a></li>
										<li><a class="dropdown-item" name="deleteEvent"
												data-event-name="<%= eventArray[i].localEventName %>" href="#/">Delete
												Event</a></li>
										<li><a class="dropdown-item" href="#/">Exit</a></li>

									</ul>
								</div>
							</td>
							</td>

							<% } %>
				</tbody>
			</table>
		</div>
		</section>

		</div>
		</div>


		<!-- Footer -->
		<%- include('partials/footer') %>

			</div>



			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>

			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/profilePageHandler.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
				crossorigin="anonymous"></script>
			<!--^^^ viewing qr and go to Survey button-->
			<script>
				function formatCurrency(input) {
					// Get the input value without non-numeric characters
					let numericValue = input.value.replace(/[^0-9]/g, '');

					// Format the numeric value with a dollar sign
					let formattedValue = '$' + numericValue;

					// Update the input value with the formatted value
					input.value = formattedValue;
				}
			</script>



</body>

</html>