<!DOCTYPE html>
<html class="black-placeholder" lang="en">
  <head>
    <%- include('partials/meta',{pageTitle:'Dashboard'})%>
    <%- include('partials/styles') %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <%- include('partials/navbar') %>

      <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container">
          <header class="major">
            <h1 class="zrnic-font h1">Events</h1>
          </header>

          <!-- Content -->
          <section id="content">
            <!-- This will load the eventInfo modal -->
            <div class="row zrnic-font lead">
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="button primary mx-2"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  data-bs-whatever="@getbootstrap"
                >
                  Create Event
                </button>
                <form action="/goToTestSurveyButton" method="post">
                  <button
                    name="goToTestSurveyButton"
                    class="button primary mx-2"
                    id="testSurvey"
                    data-bs-toggle="modal"
                    data-bs-target="#survey"
                    data-bs-whatever="@survey"
                  >
                    Test Survey
                  </button>
                </form>
              </div>
            </div>

          <!-- Content -->
          <section id="content">
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header addMargin">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body"><%- include('forms/createEventForm') %></div>
                </div>
              </div>
            </div>

            <!--Edit Question Modal-->
            <div
              class="modal fade"
              id="editQuestionModel"
              tabindex="-1"
              aria-labelledby="editQuestionModel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header addMargin">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body"><%- include('forms/editQuestionForm') %></div>
                </div>
              </div>
            </div>

            <!--Upload File Modal-->
            <div
              class="modal fade"
              id="uploadFileModal"
              tabindex="-1"
              aria-labelledby="uploadFileModal"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body"><%- include('forms/fileUploadForm') %></div>
                </div>
              </div>
            </div>

            <div class="table-wrapper">
              <%- include('partials/userEventsTable',{eventArray:eventArray, user:user}) %>
            </div>
          </section>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>

    <script src="/assets/js/profilePageHandler.js"></script>
    <!--^^^ viewing qr and go to Survey button-->
  </body>
</html>
