<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta',{pageTitle:'Register'})%> <%- include('partials/styles') %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <%- include('partials/navbar') %>

      <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container">
          <header class="major">
            <h2>Register</h2>
          </header>

          <img src="assets/css/images/loginlogo2.png" class="center" alt="" />

          <section id="content">
            <div class="jumbotron text-center text-primary">
              <% if (error) { %>
              <h2><%= error.customData %></h2>

              <% } %> <%- include('forms/registerForm') %>
              <li><a href="/login">Already Have Account?</a></li>
            </div>
          </section>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>
