<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta',{pageTitle:'Speaker Directory'}) %>
    <%- include('partials/styles') %>
  </head>

  <body>
    <div id="page-wrapper">
      <%- include('partials/navbar') %> <%- include('partials/profileResultCard') %>

      <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container">
          <header class="major">
            <label for="searchInput" class="h2">Speaker Search</label>
            <form id="searchForm">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="searchInput"
                  placeholder="Enter Speaker's Name..."
                />
                <button class="btn btn-light" type="submit" name="search" value="SEARCH">
                  SEARCH
                </button>
              </div>
            </form>
          </header>
          <!-- Content -->
          <section id="content">
            <!-- This div is filled by speakerSearchHandler.js -->
            <div id="searchResults" class="text-center"></div>
          </section>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
    <script src="/assets/js/speakerSearchHandler.js"></script>
  </body>
</html>
