<!DOCTYPE html>
<html class="black-placeholder" lang="en">
  <head>
    <%-include('partials/meta',{ pageTitle:`${profile.firstName} ${profile.lastName}'s Profile`}) %>
    <%- include('partials/styles') %>
  </head>

  <body>
    <div id="page-wrapper">
      <%- include('partials/navbar') %>

      <!-- Main -->
      <div class="container mt-5">
        <!-- if we have a profile picture, format this way -->
        <% if (profile?.profilePictureUrl) { %>
        <div id="container" class="text-center mb-4">
          <img class="rounded-circle"
            src="<%=profile?.profilePictureUrl%>"
          />
        </div>
        <div class="container">
          <header class="major zrnic-font">
            <p class="display-4 m-0"><%= profile.firstName %></p>
            <p class="display-4 m-0"><%= profile.lastName %></p>
          </header>
        </div>

        <!-- otherwise, format this way -->
        <% } else { %>
        <div class="container">
          <header class="major zrnic-font">
            <p class="display-4 m-0">
              <%= profile.firstName %> <%= profile.lastName %>
            </p>
          </header>
        </div>
        <% } %>

        <section>
          <div class="container">
            <div class="profile-content">
              <div class="profile-bio">
                <h2 class="zrnic-font">Bio</h2>
                <p class="lead"><%= profile.bio || 'No bio available' %></p>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="profile-social">
              <h2 class="zrnic-font">Social Links</h2>
              <ul class="lead">
                <% if (profile.socialLink1) { %> <%-
                include('partials/socialLink',{socialLink:profile.socialLink1}) %> <% } %> <% if
                (profile.socialLink2) { %> <%-
                include('partials/socialLink',{socialLink:profile.socialLink2}) %> <% } %> <% if
                (profile.socialLink3) { %> <%-
                include('partials/socialLink',{socialLink:profile.socialLink3}) %> <% } %>
              </ul>
            </div>
          </div>
        </section>
        <a href="/speakerSearch" id="returnToSearchBtn" class="btn btn-light">Back to Search Results</a>
      </div>

      <%-include('partials/footer') %>
    </div>
    <%-include('partials/scripts') %>
  </body>
</html>
